body {
    background-color: #fcfcfd;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px #bebebe;
    background: #bebebe;
    transition: all 0.5s;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px #aaaaaa;
    background: #aaaaaa;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px #e0e0e0;
    border-radius: 0;
    background: #e0e0e0;
    opacity:1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300 !important;
}

.postTitle a {
    color: #000 !important;
}

#main {
    margin: 60px 0 0;
}

.text-grey {
    color: #d0d1d2;
}


.text.container .left.floated.image {
    margin: 2em 2em 2em -4em;
}

.text.container .right.floated.image {
    margin: 2em -4em 2em 2em;
}

#article-content img {
    max-width: 100%;
}

code {
    font-family: "Fira Mono", Monaco, Menlo, Consolas, "Courier New", FontAwesome, monospace;
}

.fixed.launch.button {
    position: fixed;
    bottom: 2.5em;
    right: 0px;
    width: 55px;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
}

.ui.menu {
    background-color: rgba(253, 253, 255, .92);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .22);
    backdrop-filter: blur(5px);
}

.ui.menu .item {
    height: 47px !important;
}

.ui.menu .logo.item {
    font-size: larger;
    font-weight: bolder;
}

.footer {
    margin-top: 40px;
}

.captain {
    position: absolute;
}

.v-card {
    background-color: #fff;
    width: 100%;
    padding: 18px 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .22);
}

.v-card .logo {
    padding: 2px;
    border-radius: 50%;
}

.v-card .content {
    margin-top: 12px;
    line-height: 1.875rem;
}

.v-card .content .header {
    color: #212223;
    font-size: 24px;
}

.v-card .description {
    font-size: 16px;
    color: #7b7b7d;
}

.v-card .ui.text {
    padding: 12px 20px;
}

@media only screen and (max-width: 991.98px) {
  
}

@keyframes fadeInBottom {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.fadeIn {
    animation: fadeInBottom 0.2s ease-out 0s;
}